<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Login </title>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <div class="background-title">
                <span class="login-title">HE THONG DEN GIAO THONG THONG MINH</span>
            </div>
            <form class="form-container" action="#" method="POST">
                <div class="label-form">
                    <span class="label-input">Ten dang nhap</span>
                    <span class="input-container">
                        <input class="login-input" type="text" placeholder="Enter username" name="username">
                        <span class="focus-input"></span>
                    </span>
                </div>
                <div class="label-form">
                    <span class="label-input">Mat khau</span>
                    <span class="input-container">
                        <input class="login-input" type="password" placeholder="Enter password" name="password">
                        <span class="focus-input"></span>
                    </span>
                </div>
                <div class="login-button-form">
                    <button type="submit" name="submit" class="login-button">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>