extends layout

block content
	form(action='vehicle/login', method='post')
		.input-box
			span.icon
				i.fas.fa-ambulance
			input(type='text', name='username', placeholder='Biển kiểm soát', required='')
		.input-box
			span.icon
				i.fas.fa-key
			input(type='password', name='password', placeholder='Mật khẩu', required='')
		a(href='/center-control/login') > trung tâm điều hành
		button(type='submit') đăng nhập
	if error
		.alert-error Tên đăng nhập hoặc mật khẩu không đúng !
