<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title test cam
    body
        canvas#image
        script(src="/socket.io/socket.io.js")
        script(src="/javascripts/jpg.js")
        script(src="/javascripts/test-cam.js")