header
	title Demo socketIO
	script(src='/socket.io/socket.io.js')
div
	script.
		var socket = io('/socket/tracking-device');
		socket.on('news', function (data) {
			console.log(data);
			socket.emit('news', 'Ok.. tra loi client');
		});
