header
  title Demo socketIO
  script(src='/socket.io/socket.io.js')
div
  script.
    var socket = io('/traffic-light');
    socket.on('news', function (data) {
      console.log(data);
    socket.emit('my other event', { my: 'data' });
    socket.on('hi', function(data) {
      console.log(data);
    })
    });
