* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins-Regular, sans-serif;
}

.container-main {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ebeeef;
}

.login-container {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    margin: 10px;
    padding: 15px;
    /* position: relative; */
    width: 650px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

.background-title {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 215px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-image: url('../images/sl1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-title::before {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(54, 84, 99, 0.702);
}

.login-title {
    padding: 35px;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
}

.form-container {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    width: 100%;
    padding: 25px;
}

.label-form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    position: relative;
    margin: 15px 40px;
}

.label-input {
    margin: 10px 5px;
    width: 185px;
    font-family: sans-serif;
    font-size: 17px;
    color: black;
}

.input-container {
    position: relative;
    width: 100%;
}

.login-input {
    padding: 1px 7px;
    position: relative;
    height: 16px;
    width: 100%;
    border: none;
    border-bottom: 0.5px solid #727374a8;
    outline: none;
    font-family: Poppins-Regular;
    font-size: 15px;
}

.focus-input {
    top: 0px;
    left: 0px;
    position: absolute;
    padding: 0px 7px;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
}
  
.focus-input::before {
    content: "";
    bottom: 2px;
    left: 0;
    position: absolute;
    width: 0;
    height: 1px;
    background: #57b846;
    transition: all 0.6s;
    display: block;
}

.login-input:focus + .focus-input::before {
    width: 100%;
}

.login-button-form {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    margin: 20px 0px;
    width: 100%;
}

.login-button {
    height: 50px;
    width: 160px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    background-color: #57b846;

    font-size: 17px;
    color: #fff;
    line-height: 1.2;
    transition: all 0.4s;
}

.login-button:hover {
    background-color: #333333;
}

@media (max-width: 576px) {
    .label-form {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}