* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95rem;
}

body {
    background-color: #f3f6f9;
}

a {
    padding: 0.3rem;
    border: none;
    text-decoration: none;
    color: #0070e2;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #0070e2;
}

.brand {
    display: flex;
    align-items: center;
}

.brand-logo, .avatar {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: white;
    background-position: center;
    background-size: cover;
}

.brand-logo {
    background-image: url('../images/LogoBK.png');
}

.brand-name {
    margin-left: 1rem;
    text-transform: uppercase;
    color: aliceblue;
    font-weight: 600;
    font-size: 1.05rem;
}

.user-info {
    display: flex;
    align-items: center;
    color: aliceblue;
}

.user-info .username {
    margin: 0 0.7rem;
    text-transform: capitalize;
    font-weight: 400;
    cursor: pointer;
}

.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.2);
}

.navbar-item {
    display: flex;
    align-items: center;
    margin: 0 0.2rem;
}

.navbar-item > a {
    padding: 1rem;
    border: none;
    text-decoration: none;
    color: #0070e2;
}

i + span {
    margin: 0 0.3rem;
}

.active {
    border-bottom: 0.2rem solid #0070e2;
}

.active > a {
    padding-bottom: 0.8rem;
}

.has-sub {
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: white;
    color: #0070e2;
    list-style: none;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.2);
}

.sub-menu li {
    display: flex;
    flex-direction: row;
}

.sub-menu > li > a {
    display: block;
    width: 100%;
    padding: 0.5rem;
    text-decoration: none;
    color: #0070e2;
}

.has-sub:hover .sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li > a:hover {
    background-color: #EEE;
}

.spin-arrow {
    transition: transform 0.5s;
}

.navbar-item:hover .spin-arrow, .user-info:hover .spin-arrow {
    transform: rotate(180deg);
}

.content-wrapper {
    margin: 2rem 10rem;
}

.sidebar {
    flex-grow: 1;
}

.content {
    padding: 2rem;
    background-color: white;
    flex-basis: 1100px;
    justify-content: center;
    box-shadow: 0 0 1px rgba(0,0,0,.15);
}

.create-header {
    margin: 2rem 0;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 600;
    color: #0070e2;
}

.create-container {
    position: relative;
    height: 330px;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.create-item {
    margin: 1rem 0;
    display: flex;
}

.form-group {
    width: 100%;
    margin: 0 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-group > label {
    order: 1;
    font-size: 0.875rem;
    font-weight: 500;
    color: #555;
}

.form-group > input {
    order: 2;
    width: 100%;
    border: none;
    border-bottom: 1px solid #CCC;
    outline: none;
    padding: 0.5rem 0.1rem;
}

.form-group > .line {
    position: absolute;
    bottom: 0;
    width: 0;
    border-bottom: 1px solid #48A5EA;
}

.create-container button[type=submit] {
    position: absolute;
    right: 26px;
    top: 347px;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #48A5EA;
    text-align: center;
    color: white;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0,0,0,.15);
}

.form-group > input:focus + label {
    color: #48A5EA;
}

.form-group > input:focus ~ .line {
    transition: 0.7s;
    width: 100%;
}

.form-group > input:valid {
    border-bottom: 1px solid #77cbb9;
}

.create-container button[type=submit]:hover {
    transition: 0.3s;
    background-color: rgb(33, 129, 202);
}

.i-container {
    display: flex;
    flex-direction: column;
}

.i-map-container {
    margin-top: 1rem;
    position: relative;
    width: 100%;
    height: 360px;
}

.i-map-container a {
    font-size: 0.7rem;
}

.i-form-container {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    border: 1px solid #CCC;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 1px rgba(0,0,0,.15);
}

#info-street {
    overflow: auto;
    white-space: nowrap;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f4f4f4; 
    border-radius: 5px;
  }

::-webkit-scrollbar-thumb {
    background: #c2c2c2; 
    border-radius: 5px;
}

.i-form-item {
    width: 250px;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: 2px dashed #CFCFCF;
    border-radius: 5px;
    background-color: #d4d4d421;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px rgba(0,0,0,.15);
}

.i-form-container button[type=submit] {
    width: 7rem;
    height: 2.2rem;
    margin: 0 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #48A5EA;
    text-align: center;
    color: white;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 1px 3px 22px rgba(0, 0, 0, 0.15);
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input-box {
    position: relative;
    width: 17rem;
    height: 2.2rem;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.i-box {
    width: auto;
    margin: 0.2rem 0.3rem;
}

.input-box .icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid #CCC;
    border-radius: 6px 0 0 6px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box input {
    width: 100%;
    height: 2.2rem;
    border: 1px solid #CCC;
    border-radius: 6px;
    outline: none;
    padding: 10px 5px 10px 42px;
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1.2;
}

.input-box input:focus {
    border: none;
    box-shadow: 0 0 2px 2px #0096ff;
}

.btn-container {
    position: absolute;
    top: 20px;
    right: 20px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.btn {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-container .btn:first-child {
    border-radius: 4px 4px 0 0;
}

.btn-container .btn:last-child {
    border-top: 1px solid rgba(31, 51, 73, .3);
    border-radius: 0 0 4px 4px;
}

.btn-active {
    box-shadow: 0 0 2px 2px #0096ff;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.street-location {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: salmon;
    cursor: pointer;
}