<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Test emergency
        link(rel="stylesheet", href="/stylesheets/main.css")
    body
        a(href="/vehicle/ltk-bk-ktx").choice-test Lý Thường Kiệt (DHBK-KTX)
        a(href="/vehicle/tht-lg").choice-test Tô Hiến Thành - Lữ Gia
        a(href="/vehicle/ltk-ktx-bk").choice-test Lý Thường Kiệt (KTX-DHBK)
        a(href="/vehicle/lg-tht").choice-test Lữ Gia - Tô Hiến Thành