extends layout

block content
	.selection-container
		h2 Chọn kiểu đăng nhập 
		a.selection(href='/vehicle/login')
			i.fas.fa-ambulance
			span phương tiện ưu tiên
		a.selection(href='/center-control/login')
			i.fas.fa-users
			span trung tâm điều hành