extends layout

block head
    include map.head.pug
    link(rel='stylesheet', media='screen', href='https://fontlibrary.org/face/segment7', type='text/css')


block navbar
    - var isActive = 'control'
    include navbar

block content
    span.create-header Điều khiển từ xa hệ thống đèn giao thông thông minh
    .c-wrapper
        .i-map-container
            #map
        #render-interact.c-container
            .cam-container
                canvas#image.cam-item
                canvas#image.cam-item
            .interact-container
                .animation-wrapper
                    .angle
                    #top-street.horizontal-street-title
                    .angle
                    #left-street.vertical-street-title
                    .animation-container
                        .col1-row1
                            span#top-street-time.time
                        .traffic-light-container
                            #top-street-light.traffic-light
                                .color
                                .color
                                .color
                        .col3-row1
                            span#right-street-time.time
                        .traffic-light-container
                            #left-street-light.traffic-light
                                .color
                                .color
                                .color
                        .col2-row2.north-icon
                        .traffic-light-container
                            #right-street-light.traffic-light
                                .color
                                .color
                                .color
                        .col1-row3
                            span#left-street-time.time
                        .traffic-light-container
                            #bottom-street-light.traffic-light
                                .color
                                .color
                                .color
                        .col3-row3
                            span#bottom-street-time.time
                    #right-street.vertical-street-title
                    .angle
                    #bottom-street.horizontal-street-title
                    .angle
                #render-info.info-container
                    .info-item
                        label Tên giao lộ
                        label#intersection-name
                    .info-item
                        label Trạng thái điều khiển
                        label#state-control.badge
                    .info-item
                        label(for='isManual') Điều khiển từ xa
                        input#isManual.switch(type='checkbox', onchange='updateStateControl()')
                    .info-item
                        label(for='delta') Thời gian lệch
                        input#delta(type='number', name='delta', required='', style='width: 50%; margin-left: 1rem;')
                #render-control.control-container

block addFile
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/lib/jpg.js")
    script(src="/javascripts/intersection.control.js")
