extends layout

block content
    span.create-header Tạo tài khoản quản lý
    form.create-container(action='/admin/user', method='post')
        .create-item
            .form-group
                input#lastname.form-control(type='text', name='lastname', required='')
                label(for='lastname') Họ
                div
            .form-group
                input#firstname.form-control(type='text', name='firstname', required='')
                label(for='firstname') Tên
                div
        .create-item
            .form-group
                input#email.form-control(type='text', name='email', required='', onchange='validEmail()')
                label(for='email') Email
                div
            .form-group
                input#username.form-control(type='text', name='username', required='')
                label(for='username') Tên đăng nhập
                div
        .create-item
            .form-group
                input#password.form-control(type='password', name='password', required='')
                label(for='password') Mật khẩu
                div
            .form-group
                input#confirm_password.form-control(type='password', required='', onkeyup='checkPassword()')
                label(for='confirm_password') Xác nhận mật khẩu
                div
        .create-item
            .form-group
                input#phone.form-control(type='text', name='phone', required='')
                label(for='phone') Số điện thoại
                div
            .form-group
        button(type='submit') Tạo tài khoản
    script(src='main.js')
