doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon', href='/images/LogoBK.png', type='image/x-icon')
        script(src='/javascripts/fontawesome.js')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        title Hệ thống đèn giao thông thông minh
    body
        include navbar
        block content
        script(src='/javascripts/main.js')