doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/stylesheets/fontawesome/css/all.css')
        link(rel='stylesheet' href='/stylesheets/main.css')
        link(rel='shortcut icon', href='/images/LogoBK.png', type='image/x-icon')
        title Hệ thống đèn giao thông thông minh
        block head
    body
        block navbar
        .content-wrapper
            .content
                block content
        script(src='/javascripts/main.js')
        if error
            .alert.alert-error #{ message }
        if success
            .alert.alert-success #{ message }