mixin infoVehicle(item, index)
    tr
        td #{ index }
        td.license_plate #{ item.license_plate }
        td
            if item.vehicleType == 'ambulance'
                label.badge.ambulance-badge Xe cấp cứu
            else if item.vehicleType == 'fire-truck'
                label.badge.fire-truck-badge Xe cứu hỏa
            else if item.vehicleType == 'police'
                label.badge.police-badge Xe cảnh sát
            else if item.vehicleType == 'military'
                label.badge.military-badge Xe quân đội
            else
        td
            if item.status == 'online'
                label.badge.online-status Đang hoạt động
            else
                label.badge.offline-status Không hoạt động
        td #{ item.uptime }

extends layout

block navbar
    - var isActive = 'tracking'
    include navbar

block content
    span.create-header Giám sát phương tiện
    .vehicles-wrapper
        #map
        .vehicles-info-container
            .vehicles-info-box
                table.vehicles-info-table
                    thead
                        tr
                            th STT
                            th Biển kiểm soát
                            th Loại phương tiện
                            th Trạng thái hoạt động
                            th Thời gian hoạt động
                    tbody
                        - each item, index in nVehicle
                        +infoVehicle(item, index)